//Bourbon
@import "bourbon/bourbon";

//Breakpoint
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
$tablet: 768px;
$desktop: 1024px;
$large: 1400px;

@import 'normalize'; 
@import 'boilerplate';
@import '../font-awesome/scss/font-awesome';
@import 'devicons';

// Sass variables
@import "partials/variables";
@import "partials/mixins";

//globals (+ icons colors, lightbox)grunt
@import "partials/globals";

//Grid
@import "../bower_components/susy/sass/susy";
@import "partials/grid";

//Work items on home page
@import "modules/work-item";

//Last FM Module
@import "modules/lastfm";

//Header + Counter
@import "modules/header";

//Nav
@import "modules/nav";

//Nav
@import "modules/homepage";

//Work page
@import "modules/work-page";

//Contact page
@import "modules/contact";

//Footer
@import "modules/footer";

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	@import "partials/2x";

} // end of media query


