<article id="contact_me" class="site_row centered">

    <section id="contact_success" aria-hidden="true" class="site_width fadeAnimation" ng-show="showSuccessMessage">

        <h2>Thank you!</h2>

        <p>Your email was successfully sent, thanks for your interest!</p>

    </section>
    
    <section class="contact-social-block">
        <ul>
            <li><a href="//www.twitter.com/gazmatron1" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="//www.facebook.com/gazmatron1" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="//plus.google.com/103593776049377323249/" target="_blank" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
            <li><a href="//uk.linkedin.com/in/garethferguson1" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
    </section>

    <section id="contact_error" class="site_width fadeAnimation" ng-show="showErrorMessage">
        <p class="error">Failed to send enquiry! You could try directly emailing gareth.f@hotmail.co.uk</p>
    </section>

    <form id="contact_form" ng-submit="submitEnquiry()" class="fadeAnimation" ng-show="!showSuccessMessage" method="post">

        <h2>Contact me</h2>

        <label for="person_name">Name:
            <span class="required">*</span>
        </label>
        <input aria-required="true" type="text" required name="person_name" ng-model="formData.person_name" id="person_name" />

        <label for="person_email">Email:
            <span class="required">*</span>
        </label>
        <input aria-required="true" type="email" required name="person_email" ng-model="formData.person_email" id="person_email" />

        <label for="person_enq">Message:
            <span class="required">*</span>
        </label>
        <textarea aria-required="true" name="person_enq" id="person_enq" ng-model="formData.person_enq" rows="4"></textarea>

        <button role="button" id="submit_message" class="button">
            <span class="icon fa-envelope-o"></span>
            Submit
        </button>

        <p class="requiredWarning">
            <span class="required">* = Required field</span>
        </p>

    </form>

</article>

