<article itemscope itemtype="http://schema.org/Person" id="about_me" class="site_row centered topSection"  >
    <span class="icon face">
            <img src="build/images/circle.png" width="87" height="96" alt="Gareth Ferguson face" />
        </span>
    <h2>About Me...</h2>
    <p class="about_text">
        <span class="hidden" itemprop="name">Gareth Ferguson</span>
        Hi, I am a <span itemprop="jobTitle">Web Developer</span> based in  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Newcastle Upon Tyne</span>,   <span itemprop="addressRegion">UK</span></span>.
        <br/>I graduated from <span itemscope itemtype="http://schema.org/CollegeOrUniversity"><span itemprop="name">Northumbria University</span></span> in 2011 with first class honors and have been working on various projects since then.
        <br/>I specialise in working on large scale web applications, mainly using front end technologies such as Javascript.
    </p>
</article>

<!-- Skill icons -->
<article class="site_row centered">
    <div class="row">
        <div class="skillIcon">
            <section>
                <span class="icon feature fa-briefcase"></span>
                <header>
                    <h3>Experience with many clients</h3>
                </header>
                <p>Clients I have wroked with have ranged from small start-ups & organisations to large global brands.</p>
            </section>
        </div>
        <div class="skillIcon">
            <section>
                <span class="icon feature fa-cog"></span>
                <header>
                    <h3>Front end skill set</h3>
                </header>
                <p>I have experience developing web applications using large MVC frameworks such as Angular JS. I have also developed in Javascript, JQuery and Wordpress. On the server side I have used PHP and NodeJS.</p>
            </section>
        </div>
        <div class="skillIcon">
            <section>
                <span class="icon feature fa-mobile-phone"></span>
                <header>
                    <h3>Responsive</h3>
                </header>
                <p>I have experience developing website compatible with all devices, without the aid of a framework.</p>
            </section>
        </div>
    </div>
</article>

<!-- Things I can doo -->

<article class="highlightContainer site_row">

    <header>
        <h2 id="thingsIcanDo">Things I can do.</h2>
    </header>

    <ul class="icando-icons" aria-labelledby="thingsIcanDo" >
        <li>
            <svg class="item">
              <use xlink:href="#angular" />
            </svg>
            <span class="label">Angular</span>
        </li>
        <li>
            <svg class="item">
              <use xlink:href="#sass" />
            </svg>
            <span class="label">Sass</span>
        </li>
        <li>
            <svg class="item">
              <use xlink:href="#jquery" />
            </svg>
            <span class="label">JQuery</span>
        </li>
        <li>
            <svg class="item">
              <use xlink:href="#html5" />
            </svg>
            <span class="label">HTML5</span>
        </li>
        <li>
            <svg class="item devicons-swift" >
              <use xlink:href="#swift" />
            </svg>
            <span class="label">Swift</span>
        </li>
        <li>
          <svg class="item">
            <use xlink:href="#php" />
          </svg>
          <span class="label">PHP</span>
        </li>
         <li>
           <svg class="item">
             <use xlink:href="#node" />
           </svg>
           <span class="label">Node JS</span>
        </li>
        <li>
          <svg class="item">
            <use xlink:href="#gulp" />
          </svg>
          <span class="label">Gulp</span>
        </li>
        <li>
          <svg class="item">
            <use xlink:href="#wordpress" />
          </svg>
          <span class="label">WordPress</span>
        </li>
        <li>
          <svg class="item">
            <use xlink:href="#mongo" />
          </svg>
          <span class="label">Mongo DB</span>
        </li>
    </ul>
</article>

<!-- Clients I have worked with -->

<article class="highlightContainer site_row">

    <header>
        <h2 id="projectsworkedon">Projects I have worked on.</h2>
    </header>
    <ul class="site_row icando-icons col-four" aria-labelledby="projectsworkedon" >
        <li>
            <span class="item item--logo icon-ba"></span>
        </li>
        <li>
            <span class="item item--logo icon-very"></span>
        </li>
        <li>
            <span class="item item--logo icon-j2o"></span>
        </li>
        <li>
            <span class="item item--logo icon-anglian"></span>
        </li>
    </ul>
</article>

<article id="my_work" class="centered">

    <header>
        <h2>My Work...</h2>
    </header>
    <div id="work_items" class="row" ng-switch on="size">

        <a ng-repeat="work in pI.notSorted(pI.portfolios)" ng-init="value = pI.portfolios[work]" href="/{{work}}" class="work_item {{value.width}}" ng-if="pI.size == 'small'"
           style="background-image:url(/{{value.cover}}Half.jpg)" ng-click="pI.workScroll()" >
             <h4>{{value.name}}</h4>

        <a ng-repeat="work in pI.notSorted(pI.portfolios)" ng-init="value = pI.portfolios[work]" href="/{{work}}" class="work_item {{value.width}}" ng-if="pI.size == 'full'"
           style="background-image:url(/{{value.cover}}.jpg)" ng-click="pI.workScroll()">
             <h4>{{value.name}}</h4>

        <a ng-repeat="work in pI.notSorted(pI.portfolios)" ng-init="value = pI.portfolios[work]" href="/{{work}}" class="work_item {{value.width}}" ng-if="pI.size == 'high'"
           style="background-image:url(/{{value.cover}}2x.jpg);" ng-click="pI.workScroll()">

            <h4>{{value.name}}</h4>
        </a>
    </div>
</article>

<!-- Lastfm -->
<article ng-if="albums" id="lastfm_albums" class="lastfm-albums site_row">
    <header>
        <div class="icon fa-lastfm logo-large"></div>
        <h2>Recently Played...</h2>
    </header>

    <div class="lastfm_albums__music-container" ng-repeat="album in albums">
        <img src="css/blank.gif" alt="{{album.name}} cover" ng-src="{{album.image[2]['#text']}}" />
        <div class="music-info">
            <h5>{{album.name}}</h5>
            <h6>{{album.artist.name}}</h6>
        </div>
    </div>

</article>
