<script type="text/ng-template" id="imageTemplate">
    <img src="{{ngDialogData}}" alt="work image" />
</script>

<article id="work_page" class="site_row highlightContainer clearfix" ng-if="currentItem != undefined" style="background:linear-gradient(50deg, rgba(255,255,255,1) 50%,rgba(255,255,255,0.7) 100%),url({{currentItem.bg}})">
	
    <header>
        <a ng-href="/" class="workPage_home home_button">Home</a>
        <h2>{{currentItem.name}}</h2>
    </header>
    
    <section class="left_work">
        <p ng-bind-html="convertToHTML()"></p>       
                
        <h4>Technology</h4>
        <ul id="tech_used">
            <li ng-repeat="skill in currentItem.skills" ng-add-custom-class>
                <div class="work_icon {{tech_classes[skill]}}"></div>{{skill}}
            </li> 
        </ul>
                
    </section>
    
    <section class="right_work">
                
        <h4>Images</h4>
        <div class="float_block">
	        <a ng-repeat="image in currentItem.images" class="fancyModal work_screenshot" rel="galWork" ng-dialog="imageTemplate" ng-dialog-data="{{image.image}}" ng-dialog-class="ngdialog-theme-flat" ng-dialog-close-previous >
	            <img ng-src="{{image.thumb}}" />
	        </a> 
        </div>
       
        <a ng-if="currentItem.links" ng-repeat="link in currentItem.links" class="button" target="_blank" ng-href="{{link.link}}" tabindex="1">Visit {{link.title}}</a>
           
    </section>
</article>