/* Work Item */

.work_item{

    background-position: left center;
    
    &.half{
        width:50%;
    }
    
    &.twothirds{
        width:66.6%;   
    }
    
    &.third{
        width:33.3%;   
    }
            
    h4{
        max-width: 60%;
     }
}

/*Skills*/

.highlightContainer{
    padding:3em;   
}

ul.icando-icons{
    
    li {
        display: block;
        float: left;
        text-align: center;
        width: 20%;
        
        &:nth-child(n+6){
            margin-top:2em;  
        }
        
    }
}


/* Last FM */
.lastfm-albums{
    
    header{
        text-align: left;  
        margin-bottom: 2em;
    }
    
    .lastfm_albums__music-container{
        margin-right: 2em;
        width: 15%;
        margin-bottom: 2em;
        float:left;
        
        img{
            float: left;   
        }
        
    }
    
    .music-info{
        float:left;
        text-align: left;
    }   
    
    .logo-large{
        float: left;
    }
}