/* ==========================================================================
  Defaults
   ========================================================================== */

body, input, select, textarea { color: #7c8081; font-family: 'Lato', sans-serif; font-size: 15pt; font-weight: 300; letter-spacing: 0.025em; line-height: 1.75em; }
a { color: #3fb1a3; text-decoration: none; border-bottom: dotted 1px; }
a:hover { border-bottom-color: transparent }
h1, h2, h3, h4, h5, h6 { font-weight: 300; line-height: 1.75em; margin-bottom: 1em; text-transform: uppercase; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; text-decoration: none; border: 0; }
h2 { font-size: 1.5em; letter-spacing: 0.1em; }
h3 { font-size: 1.15em; letter-spacing: 0.025em; }
hr { border-top: solid 1px rgba(124, 128, 129, 0.2); border: 0; margin-bottom: 1.5em; }
p, ul, ol, dl, table {margin: 0 0 2em 0;padding:0;}
.icon { position: relative }
.icon:before { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal;}
.icon > .label {display: none;}
.item > .label {display: none;}

//Box Model
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Global */
body{
    background: #f3f6fa;
    font-size:13pt;
    min-width: 320px;
    padding-right: 0!important;
}          

p {
    text-align: justify;
    
    @include breakpoint($desktop){
        text-align: left;
    }
}

.centered{
    text-align: center;
}

#main_content{
    margin-top:5em;   
}

.required{
    color:#dc121c;
    font-weight:bold;
}

.devicons{
	display: inline-block;
}

.float_block:after{
	display: block;
	content:"";
	clear: both;
}

.highlightContainer{
    background:$backgroundHighlightContainer;
    padding:1em;
    margin-bottom:5em;
    
    @include breakpoint($desktop){
        padding:3em;
    }    
}

/* Icon Colors */

.devicons-sass{
    color:$sass;
}
.devicons-jquery{
    color:$jquery;
}
.devicons-angular{
    color:$angular;
}
.devicons-html5,
.fa-html5{
    color:$html;
}
.devicons-php{
    color:$php;
}
.devicons-css3{
	color:$css3;
}
.devicons-javascript_badge{
	color:$javacript;
}
.fa-flash{
	color:$flash;
}
.fa-database{
	color:$db;
}
.devicons-mysql{
	color:$sql;
}
.fa-paypal{
	color:$paypal;
}
.fa-wordpress{
	color:$wordpress;
}
.devicons-postgresql{
	color:$postg
}
.devicons-nodejs{
	color:$node;
}
.devicons-grunt{
	color:$grunt;
}
.devicons-wordpress{
	color:$wordpress;
}
.devicons-mongodb{
	color:$mongo;
}
.devicons-swift{
	color:$swift;
}

/* Icons */

.icon{
   
    & > .label {
        display: none;
    }
    
    &.feature {
        cursor: default;
        display: block;
        margin: 0 0 1.5em 0;
        opacity: 0.35;
        text-align: center;
        color:#6D902C;
        
        &:before {
            font-size: 5em;
            line-height: 1em;
        }
        
    }
    
}

/* Animations */
.fadeAnimation2.ng-enter {
    @include animationMixin(fade-in, 1s, 0s, ease-in-out);
  opacity:0;
}

.fadeAnimation2.ng-enter.ng-enter-active {
  opacity:1;
} 

/* lightbox */
.ngdialog-content img{
    max-width: 100%;
}
.ngdialog.ngdialog-theme-flat .ngdialog-content{
    width:auto!important;
    max-width:90%!important;
    text-align: center;
}

.ngDialog-next{
    position: absolute;
    top:25%;
    right: -0.2em;
    cursor: pointer;
    font-size: 1em;
    color: #27AE60;
}
.ngDialog-prev{
    position: absolute;
    top:25%;
    left: -.2em;
    cursor: pointer;
    font-size: 1em;
    color: #27AE60;
}

/* 2X Images */
@media 
(-webkit-min-device-pixel-ratio: 1.3), 
(min-resolution: 124.8dpi){ 
    #header {
        background-image:url('http://garethferguson.s3.amazonaws.com/images/woods2x.jpg');
    }
}