$mainGreen:rgba(109, 144, 48,.5);
$mainGreenFull:rgba(109, 144, 48,1);
$footerBG:#e8eef4;
$backgroundHighlightContainer:#fff;
$headerBG: url('../images/white-texture.png');
$headerBorder: #004F2D;

$sass:#CC6699;
$html:#E34C26;
$php:#6C7EB7;
$jquery:#096BB6;
$angular:#E62A39;  
$css3:#0171BB;  
$paypal:#003358;
$wordpress:#21759B;
$javacript:#F0DB4F;
$sql:#00618A;
$postg:#326590;
$db:#4C4C4C;
$flash:#CF081C;
$grunt:#FBA919;
$node:#7FBD42;
$mongo:#58AE47;
$swift:#FBA23E;

$googleplus:#CE3D2A;
$facebook: #1C407B;
$twitter: #5EA9DD;
$linkedin:#0B2B5C;