/* Top Section */

.topSection{

    margin-bottom: 5em;

    &:before,
    &:after{
        width: 43%;
    }

}

/* About Me */

.topSection{
    margin-bottom:3em;
    padding-top: 4em;
    position: relative;
    text-align: center;

    @include breakpoint($desktop){
        margin-bottom: 5em;
    }

    br{
        display: none;
    }

    &:before{
        left:0;
    }

    &:after{
        right:0;
    }
    &:before,
    &:after{
        border-bottom: solid 2px;
        content: '';
        height: 7px;
        opacity: 0.1;
        position: absolute;
        top: 1.75em;
        width: 35%;

        @include breakpoint($desktop){
            width: 43%;
        }

    }

    h2{
        margin-bottom: 0em;

        & + p{
            margin-bottom: 0;
            padding-top: 1.5em;
            text-align:center;
            max-width: em(960);
            margin: 0 auto;
        }
    }

}

#about_me {
    .icon {
        cursor: default;
        height: 7em;
        left: 0;
        position: absolute;
        text-align: center;
        top: 1em;
        width: 100%;
    }
}

.face {
    img{
        margin:-30px 0 0 0 !important;
    }
}

.icon-ba{
    background-image: url('/images/logos/ba.png'); 
}
.icon-very{
    background-image: url('/images/logos/very.png');
}
.icon-anglian{
    background-image: url('/images/logos/anglian.png');
}
.icon-j2o{
    background-image: url('/images/logos/j2o.png');
}


/* Things I can do */

ul.icando-icons{

    overflow: hidden;

    li{
        display: block;
        float: left;
        text-align: center;
        width: 49%;
        padding-bottom: 2em;

        @include breakpoint($tablet){
            display: block;
            text-align: center;
            width: 25%;
        }

        @include breakpoint($desktop){
            padding-bottom: 0;
            width: 20%;
        }

         &:nth-child(n+6){
            margin-top:0;
        }

        .item{
            font-size: 4em;
            display: inline-block;
            font-size: 4em;
            width: 100%;

            @include breakpoint($desktop){
                font-size: 6em;
            }

            @include breakpoint($large){
                font-size: 8em;
            }

            &--logo{
                background-repeat: no-repeat;
                background-size: contain;
                height: 1em;
                background-position: center;
                margin: 40px auto 0;
                @include breakpoint($desktop){
                    height:.5em;
                }
            }

        }

    }

    &.col-four li{
        @include breakpoint($desktop){
            width: 25%;
        }
    }

}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}




/*Skills */

.skillIcon{

    clear:both;
    width:100%;
    padding-left: 0;
    padding-top:2em;
    text-align: center;

    @include span(12);

    @include breakpoint($desktop){
        margin-right: gutter(12);
        @include span(4 nobreak);
        &:last-of-type{
            margin-right: 0;
        }
    }

    p{
        text-align: center;
    }

    &:first-child{
        padding-left:0px;
    }

}
