/* Nav */
    
#nav{
    
    top:-11em;
    cursor: default;
    font-size: 0.8em;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    box-shadow: none;
    color: white;
    padding: 0;
    position: fixed;
    
    @include breakpoint($desktop){
        top: 0;
        padding: 2em 2.5em;
    }
    
    #nav__pullDown{
        float:left;
        font-size:1.5em;
        font-family: FontAwesome;
        -webkit-font-smoothing: antialiased;
        left:50%;
        margin-top:1.4em;
        cursor:pointer;
        margin-left: -1.25em;
        padding:0 0.5em 0.2em 0.5em;
        background: rgba(163, 169, 170, 0.75);
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
        display: block;
        //@include transitionMixin(all,.5s,ease-in-out);
        outline: none;
        
        @include breakpoint($desktop){
            display: none;
        }
        
    }
    
    nav{
        
        @include breakpoint($desktop){
            letter-spacing: 0.075em;
            position: absolute;
            right: 2.5em;
            top: 1.75em;
            left: initial;
            
            &.revealHeader {
                position: fixed;
                top:0em;
                right:0;
                width:100%;
                background: $mainGreenFull;
                text-align: right;

            ul{
                margin:0;
                padding:0.5em;  
            }

            }

            &.revealHeader-add{
                @include animationMixin(reveal-nav, 0.2s, 0, none);
            }
        }
        
        position: relative;
        left:0;
        top:0;
        text-transform: uppercase;
        
        ul{
            margin:0;
            
            li{
                 display:block;
                 width:100%;
                 text-align: center;
                 background:white;
                 margin-left:0; 
                
                @include breakpoint($desktop){
                    display: inline-block;
                    margin-left: 1.5em;
                    width: auto;
                    background: none;
                    
                    &.reveal {
                        @include animationMixin(reveal-header, 0.2s, 0);
                        height: em(55);
                        padding:0.5em 1.5em;
                        background: #6d9030;
                        color:#fff;
                    }
                     
                    &.active > a{
                        @include transitionMixin(all,0.2s,ease-in-out);
                        background: rgba(188, 202, 206, 0.15);
                        border: solid 1px;
                    }
                }
                
                &:last-child{
                    a{
                        border-bottom:none;
                    }
                }
                
                &.current{
                    & > a{
                        font-weight: 900;
                    }
                }
                
                &:hover{
                   & > a {
                        border: none;
                        @include transitionMixin(all,0.2s,ease-in-out);
                        background: rgba(188, 202, 206, 0.15);
                        border: solid 1px #fff;
                    } 
                }
                
                a{
                    color:#000; 
                    width:100%;
                    border:none;
                    border-bottom:1px solid #cdcdcd;
                    display: inline-block;
                    padding: 0 .75em;
                    text-decoration: none;
                    
                    @include breakpoint($desktop){
                        border: solid 1px transparent;
                        display: inline-block;
                        padding: 0em 0.75em;
                        text-decoration: none;
                        color:#fff;   
                    }
                    
                }
            }
        }
        
    }
    
    &.slideDown{
        top:0em;
    }
    
    &.slideDown-add,
    &.slideDown-remove,
    {
        @include transitionMixin(all,.5s,ease-in-out);
    }
    
    &.slideDown + #header{
        margin-top:6em;
    }
    
    &.slideDown #nav__pullDown{
        margin-top:0em;
    }    
}

.dlIcon{
    font-size: 1em;
    margin: 0 0.75em 0 0;
}