<div id="nav__pullDown" class="spinner-master3 js-slideout-toggle" (click)="toggleActive()">
  <div class="spinner-spin3">
    <div class="spinner3 diagonal part-1"></div>
    <div class="spinner3 horizontal"></div>
    <div class="spinner3 diagonal part-2"></div>
  </div>
</div>

<!-- Header -->
<header id="nav" class="fadeAnimation nav_desktop">
<nav id="mainnav" class="fadeAnimation" scroll="" role="navigation">
       <ul role="menubar">
            <li class="current" role="menuitem"><a routerLink="/">Home</a></li>
            <li><a routerLink="/" fragment="my_work" role="menuitem">Work</a></li>
            <li><a routerLink="contact" role="menuitem">Contact</a></li>
            <li role="menuitem">
              <a target="_blank" href="files/cv.pdf" download="cv.pdf"> <span class="icon dlIcon fa fa-download"></span>Download CV</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Header Text -->
<section id="header" role="banner">
    <div class="header__inner">

        <header>
            <h2>Gareth Ferguson</h2>
        </header>
        <p>Web Developer based in Newcastle Upon Tyne</p>
    </div>

    <app-socket></app-socket>

</section>
