// Sass variables
@import "./app/css/partials/imports";

#footer {
    background: $footerBG;
    color: #7c8081;
    padding: 2em 5em;
    text-align: center;
    
    .copyright {
        font-size: 0.8em;
    }
    
    .icon {
        height: 2.25em;
        width: 2.25em;
        line-height: 2.25em;
        font-size: 1.4em;
        border-bottom: none;
        margin: 0 0.3em;
    }
}