$container-style: fluid;

$susy: (
  global-box-sizing: border-box,
  columns: 12,
  container: auto,
  gutters: (1/4)
);

//Overall site row
.site_row{
    @include container(90%);
    margin-left:auto;
    margin-right:auto;
    
    @include breakpoint($desktop){
         @include container(80%); 
    }
    
}

.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}