//Bourbon
@import "../../node_modules/bourbon/core/bourbon";
@import '../../node_modules/baguettebox.js/dist/baguetteBox.min.css';


:global{

@import 'normalize';
@import 'boilerplate';

$fa-font-path:'/assets/fonts';

// Sass variables
@import "partials/imports";

//globals (+ icons colors, lightbox)grunt
@import "partials/globals";

//Grid
@import "../../node_modules/susy/sass/_susy.scss";
@import "partials/grid";

//Work items on home page
@import "modules/work-item";

//Header + Counter
@import "modules/header";

//Nav
@import "modules/nav";

//home
@import "modules/homepage";

//Work page
@import "modules/work-page";

//Contact page
@import "modules/contact";

//Socket page
@import "modules/socket";

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

#baguetteBox-overlay.visible{
  z-index: 9999;
}


}