<article @fadeInAnimation itemscope itemtype="http://schema.org/Person" id="about_me" class="site_row centered topSection"  >
    <span class="icon face">
        <img src="assets/images/circle.png" width="87" height="96" alt="Gareth Ferguson face" />
    </span>
    <h2>About Me...</h2>
    <p class="about_text">
        <span class="hidden" itemprop="name">Gareth Ferguson</span>
        Hi, I am a <span itemprop="jobTitle">Web Developer</span> based in  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Newcastle Upon Tyne</span>,   <span itemprop="addressRegion">UK</span></span>.
        <br/>I graduated from <span itemscope itemtype="http://schema.org/CollegeOrUniversity"><span itemprop="name">Northumbria University</span></span> in 2011 with first class honors and have been working on various projects since then.
        <br/>I specialise in working on large scale web applications, mainly using front end technologies such as Javascript.
    </p>
</article>

<!-- Skill icons -->
<article @fadeInAnimation class="site_row centered">
    <div class="row">
        <div class="skillIcon">
            <section>
                <span class="icon feature fa-briefcase"></span>
                <header>
                    <h3>Experience with many clients</h3>
                </header>
                <p>Clients I have wroked with have ranged from small start-ups & organisations to large global brands.</p>
            </section>
        </div>
        <div class="skillIcon">
            <section>
                <span class="icon feature fa-cog"></span>
                <header>
                    <h3>Front end skill set</h3>
                </header>
                <p>I have experience developing web applications using large MVC frameworks such as Angular JS. I have also developed in Javascript, JQuery and Wordpress. On the server side I have used PHP and NodeJS.</p>
            </section>
        </div>
        <div class="skillIcon">
            <section>
                <span class="icon feature fa-mobile-phone"></span>
                <header>
                    <h3>Responsive</h3>
                </header>
                <p>I have experience developing website compatible with all devices, without the aid of a framework.</p>
            </section>
        </div>
    </div>
</article>

<!-- Things I can doo -->

<article @fadeInAnimation class="highlightContainer site_row">

    <header>
        <h2 id="thingsIcanDo">Things I can do.</h2>
    </header>

    <ul class="icando-icons" aria-labelledby="thingsIcanDo" >
      <ng-container  *ngFor="let skill of skills; let class = index;">
      <li *ngIf="skill.show_home == true">
        <svg class="item" attr.aria-labelledby="icon-{{class}}" role="img" [ngClass]="skill.class">
          <title>{{skill.name}}</title>
          <use attr.xlink:href="{{skill.svg}}" />
        </svg>
        <span id="icon-{{class}}" class="label">{{skill.name}}</span>
      </li>
      </ng-container>
    </ul>
</article>

<!-- Clients I have worked with -->
<article @fadeInAnimation class="highlightContainer site_row">

    <header>
        <h2 id="projectsworkedon">Projects I have worked on.</h2>
    </header>
    <ul class="site_row icando-icons icando-icons--logo" [ngClass]="{'webP': webp==true, 'nowebP': webp==false}" [class.webP]="webp==true" aria-labelledby="projectsworkedon" >
        <li>
            <span class="item item--logo icon-arup"></span>
            <span class="label">Arup</span>
        </li>
        <li>
            <span class="item item--logo icon-ba"></span>
              <span class="label">British Airways</span>
        </li>
        <li>
            <span class="item item--logo icon-very"></span>
              <span class="label">Very</span>
        </li>
        <li>
            <span class="item item--logo icon-j2o"></span>
              <span class="label">J2O</span>
        </li>
        <li>
            <span class="item item--logo icon-anglian"></span>
              <span class="label">Anglian Home Improvements</span>
        </li>
    </ul>
</article>

<article id="my_work" class="site_row">

    <header>
        <h2>My Work...</h2>
    </header>
    <div id="work_items" class="row">
      <a *ngFor="let work of workItems" class="work_item" 
      [routerLink]="[ work.url ]"
        [style.background-image]="'url(/' + work.cover + imageExt + '.jpg)'">
          <h4>{{work.name}}</h4>
      </a>
    </div>

</article>

<app-lastfm></app-lastfm>