// Sass variables
@import "./src/css/partials/imports";

.footer {

    background: $footerBG;
    color: #7c8081;
    padding: 2em 5em;
    text-align: center;
    
    .copyright {
        font-size: 0.8em;
    }

    a{
        display: inline-block;
        border-bottom: none;
    }

    li{
        padding: 0;
        margin-right:1rem;
        &:last-of-type{
            margin-right: 0;
        }
    }

    .icon {
        font-size: 1.5rem;
        border-bottom: none;
        margin: 0 0.3em;
        display: inline-block;
    }
}