<!-- Footer -->
<footer id="footer">
  <h3>Share</h3>
  <ul class="icons">
    <li><a href="//www.twitter.com/gazmatron1" rel="noopener" target="_blank" class="icon fa-twitter"><span class="label">Twitter Gareth Ferguson</span></a></li>
    <li><a href="//www.facebook.com/gazmatron1" rel="noopener" target="_blank" class="icon fa-facebook"><span class="label">Facebook Gareth Ferguson</span></a></li>
    <li><a href="//uk.linkedin.com/in/garethferguson1" rel="noopener" target="_blank" class="icon fa-linkedin"><span class="label">LinkedIn Gareth Ferguson</span></a></li>
  </ul>
  <span class="copyright">Gareth Ferguson, 2018</span>
</footer>
