/* Header */
#header {

    color: #fff;
    cursor: default;
    padding: 4em 0;
    text-align: center;
    background-image:url('/assets/images/woods.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    @include transitionMixin(all,.5s,ease-in-out);

    @include breakpoint($desktop){
        padding: 2em 0 0;
        background-image:url('/assets/images/woods2x.jpg');
    }

    .header__inner{

        transition:opacity 1s ease-in-out;
        color: white;
        display: block;
        background: none;
        opacity: 0;
        padding: 0 1.5em;
        text-align: center;

        &.show{
            opacity: 1;
        }

        @include breakpoint($desktop){
            display: inline-block;
            padding: 8em;
            br {
                display: none;
            }
        }
        
        header {
            display: inline-block;
            margin: 0 0 2em 0;
            padding: 3px 0 3px 0;

            h2 {
                font-size: 1.5em;
                font-weight: 900;
                letter-spacing: 0.2em;
                margin: 0;
                position: relative;
                text-transform: uppercase;

                 @include breakpoint($desktop){
                      font-size: 2.5em;
                 }

            }
        }

        p {
            letter-spacing: 0.1em;
            margin: 0;
            text-transform: uppercase;
            text-align: center;

            a {
                color: inherit;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }

    &:before{
        content: " ";
        background:  $mainGreen;
        position: absolute;
        width: 100%;
        bottom: 0;
        top: 0;
        left: 0;
    }

}