/* Work */
#work_page{

	background-repeat: repeat-y;
	background-position: top right !important;

    border-right: 1px solid #d9dbda;
    border-left: 1px solid #d9dbda;

    .left_work,
    .right_work{
        float:none;
        width:100%;
    }

    @include breakpoint($desktop){
        .right_work{
            float:right;
            width:35%;
        }
        .left_work{
            @include clearfix();
            // word-wrap: break-word;
            float:left;
            width:60%;
        }
    }

    h2{
        display: inline-block;
    }

    h4{
        margin:0;
    }

    .button{
        margin-top:2em;
    }
}

.workPage_home{
    border-bottom: none;
}

.workPage_home:after{
    content: '/';
    margin:0 10px;
}

.work_screenshot{
    float:left;
    width:40%;
    margin:5% 5% 0 0;
    cursor:pointer;
    @include transitionMixin(all,0.2s,ease-in-out);
}


.right_work .float_block:hover > .work_screenshot {
  opacity: 0.5; }

.right_work .float_block > .work_screenshot:hover{
    @include scaleMixin(1.1);
    opacity:1;
}

.work_screenshot img{
    width:100%;
}

/* Tech Used List */

#tech_used{

	list-style-type: none;

    li{
        display: block;
	   margin: 1em 0;
      svg{
        width: 3rem;
				height:2rem;
        display: inline-block;
        vertical-align: middle;
        margin-right: 1rem;
      }
    }

}

.work_icon{
	font-size: 2em;
	vertical-align: middle;
	padding: 0 0.5em 0 0;
	width: 1.5em;
}
